{% include 'header.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<center><br>
    <button><a href="/tour_list/{{object.id}}/update/">Update</a></button>
    <button><a href="/tour_list/{{object.id}}/delete/">Delete</a></button>
    <h1>Detail Information</h1>
    <h2>{{object.tour_name}}</h2>
    <p style="max-width: 600px;">{{object.description}}</p><p><b>Type of tour: </b>
        {{object.tour_type}}</p>
    <img src="{{object.image.url}}" alt="Tour Photo">
    <p><b>Price of tour: </b>
        {{object.price}}</p>
    <iframe src="{{object.video}}" width="640" height="360" frameborder="0"></iframe>

    <p><b>Start of tour: </b>{{object.start_date}}</p>
    <p><b>End of tour: </b>{{object.end_date}}</p>


    <table border="2">
        <tr>
            <th>Review creation date</th> <th>Comment</th> <th><R></R>ating</th>
        </tr>

        {% for i in object.review_object.all %}
        <tr>
            <td>{{i.created_at}}</td> <td>{{i.text_review}}</td> <td>{{i.rate_stars}}</td>
        </tr>
        {% endfor %}

    </table>

</center>
{% include 'footer.html' %}
</body>
</html>